<h1>New User Page</h1>

<% if @user.errors.any? %>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
<% end %>

<%= form_for @user do |f| %>
  <%= f.label :user_name  %>
  <%= f.text_field :name %>

  <%= f.submit %>

<% end %>
